<div class="block">
  <nav class="nav">
    <div class="nav-left">
      <a href="/" class="nav-item">
        Home
      </a>
      <a href="#" class="nav-item">
        Articles
      </a>
      <a href="#" class="nav-item">
        Posts
      </a>
    </div>
    <div class="nav-cen"></div>
    <div class="nav-right">
      <a href="/login" class="nav-item">
        <button class="button is-primary">
          Login
        </button>
      </a>
      <a href="/register" class ="nav-item">
        <button class="button is-primary is-rounded">
          Sign Up
        </button>
      </a>
    </div>
    <!-- add a horizontal line -->
  </nav>
</div>