<div class = "block">
      <nav class = "nav">
            <div class = "nav-left">
                  <a class = "nav-item">
                    <h1 class = "title is-6">
                      <i class="fa fa-home"></i>
                      Home
                    </h1>
                  </a>
                  <a class ="nav-item">
                    <h1 class = "title is-6">
                      Articles
                    </h1>
                  </a>
                  <a class = "nav-item">
                    <h1 class = "title is-6">
                      Posts
                    </h1>
                  </a>

            </div>
            <div class = "nav-center">
                  <a class = "nav-item">
                    <h1 class = "title is-5">
                      My Flask App
                    </h1>
                  </a>
                    </div>
            <div class = "nav-right">
              <p>
                  
                        <a class = "button is-outlined loginbutton">
                          Login
                        </a>
                    
                    </p>
                    </div>
                  </nav>
                </div>